/* Mobile: width < 740px <=> 46.1875em */
/* Tablet: width >= 740px and width < 1024px  <=> 63.9375em */
/* PC: width >= 1024px */

/* ---------------------------------------------------------- */

/* Mobile: width < 740px */
@media screen and (max-width: 46.1875em) {
    #logo-pc{
        display: none;
    }
    #logo-mobile{
        display: block;
    }
    .header__search{
        display: none;
    }
    .header__search-options-item{
        display: none;
    }

    .header__nav{
        display:none;
    }
    .nav__mobile-btn{
        display: block;
    }
    .download__app-by-image{
        display: none;
    }
    .top-homstay,
    .favorite-space,
    .about-me,
    .app-download{
        display: none;
    }

    .owl-nav button.owl-prev,
    .owl-nav button.owl-next{
        width: 40px;
        height: 40px;
    }
    .owl-nav button.owl-prev{
        margin-left: -15px;
    }
    .owl-nav button.owl-next{
        margin-right: -15px;
    }
}

/* Tablet: width >= 740px and width < 1024px*/
@media screen and (min-width: 46.1875em) and (max-width: 63.9375em) {
    .header__search{
        flex: none;
    }

    .header__nav{
        display:none;
    }
    .nav__mobile-btn{
        display: block;
    }
    .download__app-by-image{
        display: none;
    }
    .app-download-qrcode{
        display: none
    }
    .app-download-store{
        text-align: center;
    }
}

/* PC: width >= 1024px */
@media screen and (min-width: 64em) {

}